<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<p>
  The OracleAlpha is &quot;<%= @oracle_alpha %>&quot;.
</p>
<p>
  The OracleBeta is &quot;<%= @oracle_beta %>&quot;.
</p>
